/*base classes*/
.vertical-items{
	display:inline-block;
	vertical-align:middle;
}
.container{
	width:1170px;
	margin: 0 auto;
	/*max-width:1170px;
	margin: 0 auto;
	width: 100%;*/
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.clear{
	clear: both;
}
.title{
	padding: 30px 0;
	font-family: 'Roboto';
	font-size: 24px;
	text-transform: uppercase; 
}
.title a{
	text-transform: lowercase;
}
.title a:hover{
	color:#EE4036;
}
.white-color{
	color:#fff;
}
.blue-color{
	color:#3D58A6;
}
.black-color{
	color:#000;
}
/*base classes*/

/*header*/

body{
	padding-top: 73px;
}
.headre-fluid{
	position: fixed;
	width: 100%;
	top:0;
	background-color: #fff;
	z-index: 10;
}
.header{
	padding: 20px 0;
	/*position:fixed;
	top:0px;*/
	/*width: 100%;
	left:0px;
*/
}
.logo{
	width:100px;
	float:left;
	display:flex;
	align-items: center;
}
.logo img{
	width:100px;
}
.right-block{
	float:right;
	display: flex;
	align-items: center;
}
.navigation{ 
	margin-right: 120px;
	
}
.navigation ul li a{
	font-family: 'Roboto'; 
	text-transform:uppercase;
	font-size:24px;
	color:#3D58A6;
	padding:0 15px;
}
.navigation ul li a:hover{
	color:#3D58A6;
	opacity: .5;
}
.social-icon li:last-child{
	border:0;
	padding-right: 0;
	margin-right:0;
}
.social-icon li{
	border-right: 1px solid #3D58A6;
	padding-right:15px;
	margin-right:15px;
}

.social-icon li a img{
	height:30px;
}

/*header*/

/*banner conteiner*/
.banner-wrapper{
	background-color: #E6E6E6;
	padding:30px 0;
}
.banner-wrapper .banner-img{
	width: 100%;
}
.banner-container{
	position:relative;

}
.banner-wrapper .banner-text{
	position:absolute;
	left:30px;
	bottom: 30px;

}
.banner-logo{
	position:absolute;
	width:100px;
	right: 30px;
	bottom: 30px;
}
.banner-text h1{
	color:#fff;
	font-size:30px;
	text-transform: uppercase;
	margin:10px auto;
}

/*banner conteiner*/

/*videos*/
.video-wrapper{
	background-color: #363E97;
	padding-bottom:90px;
}

.video-wrapper .video{
	width:570px;
	background-color: #fff;
	text-align: center;	
}
.video-wrapper .video video{
	width:100%;
}
/*videos*/

/*news*/
.news-wrapper{
	background-color: #BDCCD4;
	padding-bottom:90px;
}
.news-wrapper article{
	width:270px;
	margin-right: 30px;
	background-color: #E6E6E6;
	
}
.news-wrapper article img{
	width:100%;
}
.news-wrapper article h1{
	line-height: 60px;
	font-family: 'Roboto';
	font-size: 22px;
	text-transform: uppercase;
	color:#333333;
	padding-left: 15px;
	width:100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;

}
.news-wrapper article:nth-child(4){
	margin-right: 0;
}

.article{
	position:relative;
	padding-bottom: 60px;
	overflow: hidden;
}
.article h1{
	position: absolute;
	bottom: 0px;
	left:0px;
	height: 60px;

	transition: height 0.3s;
}
.article:hover h1{
	height: 90%;
	background:rgba(237,237,237,0.6);
	color:#3D58A6;
}
.article:hover .read-more{
	right: 15px;

}
.read-more{
	position: absolute;
	bottom: 15px;
	right: -100px;
	transition: all 0.3s;
	color:#3D58A6;


}
/*news
/*feature*/

.feature-wrapper{
	background-color: #E6E6E6;
	padding-bottom: 40px;
}
.feature-element{
	width:570px;
	height: 220px;
	background-color: #F2F2F2;
	border: 1px;
}
.feature-element.right{
	margin-left: 26px;
}

.feature-wrapper h2{
	color:#3D58A6;
	font-family: 'Roboto';
	text-transform: uppercase;
	font-size: 22px;
	padding-top: 15px;
	padding-left: 15px;

}
.content-block {
	padding-top:15px;
}
.content-block img{
	/*width: 100px;*/
	height:130px;
	margin-left: 40px;
	margin-right: 55px;
}
.content-block p{
	width:340px;
	font-family: 'Roboto';
	font-size:20px;
	vertical-align: top;
	line-height:26px;
	padding-right: 30px;
	margin-left: 0px;
}
.content-block a{
	text-transform: lowercase;
	padding-right: 15px;
	padding-bottom: 20px;
}

.feature-element:hover{
	border: 1px solid red;
}
.feature-element:hover h2{
	color: red;

}
.feature-element:hover .content-block a{
	color:red;
}

/*feature


/*footer*/
.footer{
	padding: 25px 0;
}
/*footer*/

/*upper-line*/
.upper-line{
	background-color: #BDCCD4;
	padding: 30px 0;
	color:#fff;
	font-size:22px;
	margin-top:73px;
}
.upper-line a{
		text-decoration:underline;

}
.upper-line a:hover{
	color:#EE4036;
}
/*news upperline*/

/*articele*/
.article-detailed{
	font-family: 'Roboto';

}
.time{
	/*font-size:12px;*/
	color:#363E97;
	text-align: center;
	height:60px;
	width:60px;
	margin-top:30px;
	/*padding: 10px 10px; */
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	border:3px solid #F2F2F2;
}
.date{
	font-size:34px;
}
.month{
	font-size:12px;
	text-transform: uppercase;

}
.article-title{
	text-transform:uppercase;
	color:#363E97;
	font-size:22px;
	margin-top:30px;
}
.content{
	margin-top:30px;
}
.article-image{
	/*height:285px;*/
	width: 370px;
	margin-right:30px;
}

.article-text{
	line-height: 26px;
	padding-bottom: 30px

}
/*articele*/
.social-share img{
	width:100px;
}
.social-share a{
	text-decoration:none;

}